.navbar {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e7eb;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-icon {
  width: 45px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #00843d;
  color: white;

  font-size: 24px;
  font-weight: bold;

  border-radius: 8px;
}

.logo-text h2 {
  margin: 0;
  font-size: 20px;
  color: #00843d;
}

.logo-text span {
  font-size: 12px;
  color: #6b7280;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #374151;
  font-size: 15px;
  font-weight: 500;

  transition: 0.3s;
}

.nav-links a:hover {
  color: #00843d;
}

.login-btn {
  border: none;
  background-color: #00843d;
  color: white;

  padding: 10px 18px;
  border-radius: 6px;

  font-size: 14px;
  font-weight: 600;

  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #006b31;
}
.logo {
  text-decoration: none;
}